*{
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #f5f5f5;
    font-family: 'Smythe', cursive;
    color: black;
    font-size: 20px;
    font-weight: 400;
} 

.container{
    width: 600px;
    height: auto;
    margin: 0 auto;
    background-color: white;
}

@media screen and (max-width: 1000px)
{
    .container{
        width: auto;
        height: 100%;
    }
}

header{
    display: flex;
    flex-direction: column;
    background-color: burlywood;
    width: 100%;
    height: 150px;
    overflow: hidden;
    background-image: url(images/banner.png);
    background-position: center;
    margin-bottom: 50px;
}


.header_title{
    margin-left: 30px;
    font-size: 45px;
    font-weight: 400;
    color: whitesmoke;
    margin-bottom: 0;
}

.header_subtitle{
    font-size: 25px;
    font-weight: 400;
    color: #f5f5f5;
    margin: 0 30px;
}

.element{
    display: flex;
    padding-bottom: 40px;
    margin: 30px 50px;
    border-bottom: solid 1px #D2D2D2;
}

.food_img{
    margin-top: 8px;
    width: 70px;
    height: 65px;
    margin-right: 15px;
}

@media screen and (max-width: 1000px)
{
    .food_img{
        width: 90px;
        height: 80px;
        margin-top: 18px;
    }
}

.content{
    display: flex;
    flex-direction: column;
}

.food_title{
    margin: 0;
    font-size: 32px;
    font-weight: 400;
}

@media screen and (max-width: 1000px)
{
    .food_title{
        font-size: 40px;
    }
}

.food_content{
    margin: 0;
    width: 300px;
}

@media screen and (max-width: 1000px)
{
    .food_content{
        font-size: 28px;
    }
}

.food_price{
    margin: 8px 0 0 0;
    font-size: 22px;
}

@media screen and (max-width: 1000px)
{
    .food_price{
        font-size: 30px;
    }
}

.add-btn{
    display: flex;
    margin-left: auto;
    align-items: center;
}

.add{
    font-size: 32px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 200;
    border-radius: 100%;
    border: 1.5px solid #DEDEDE;
    color: #3C3C3C;
    background-color: transparent;
    text-align: center;
    height: 40px;
    width: 40px;
}

@media screen and (max-width: 1000px)
{
    .add{
        height: 60px;
        width: 60px;
        font-size: 40px;
    }
}

.add:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.order_resume{
    display: flex;
    margin: 30px 50px;
    text-align: center;
    flex-direction: column;
}

.order_line{
    display: flex;
}

.order_title{
    margin-bottom: 60px;
}

.remove_txt{
    font-size: 12px;
    color: #BBBBBB;
    margin-left: 10px;
    margin-bottom: 0;
}

@media screen and (max-width: 1000px)
{
    .remove_txt{
        font-size: 19px;
    }
}

.remove_txt:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.food_price_order{
    text-align: end;
    width: 100%;
    margin-bottom: 12px;
    font-size: 20px;
}

@media screen and (max-width: 1000px)
{
    .food_price_order{
        font-size: 24px;
    }
}

.separation{
    width: 100%;
    border: 2px solid #393333;
}

.result{
    margin-top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.order_btn{
    margin: 50px 0;
    height: 60px;
    color: whitesmoke;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #16DB99;
    border: none;
    border-radius: 3px;
}

.order_btn:hover{
    cursor: pointer;
}


/*/////////// modal element //////////////////*/

.modal {
    display: none;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 370px;
    width: 350px;
    border-radius: 5px;
    filter: drop-shadow(5px 5px 255px rgba(0, 0, 0, 0.5)); 
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.modal-inner{
    width: 290px;
    margin: 0 auto;
}

.modal_txt{
    color: black;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 35px;
    font-size: 18px;
}

.close-modal-btn-container{
    text-align: right;
    margin: 9px;
}

.modal-close-btn {
  font-size: 14px;
  font-weight: bold;
  background-color: transparent;
  border: 1px solid transparent;
  color:#393333;
}

.modal-close-btn:hover,
.modal-close-btn:active{
    color: red;
    cursor: pointer;
}

.modal-pay-btn{
    padding: 10px 24px;
    cursor: pointer;
    width: 100%;
    margin-top: 35px;
    background-color: #16DB99;
    border: none;
    border-radius: 3px;
    color: white;
}

input{
    margin-top: 12px; 
    border: 1px solid #212529;
    padding: 8px;
    width: 100%;
    border-radius: 3px;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button { 
	-webkit-appearance: none;
	margin:0;
}

.thanks_msg{
    background-color: #ECFDF5;
    border-radius: 3px;
    margin-bottom: 40px;
    color: #065F46;
}

.thanks_txt{
    font-size: 32px;
    font-weight: 400;
}